/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

label {
  color: #6d6969 !important
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  margin-top: 14px !important;
}

.footer-copyright {
  background-color: rgba(10, 10, 10, .8) !important
}

/* Dealer App styling */

.mg_btm_40 {
  margin-bottom: 40px;
}

.mg_btm_20 {
  margin-bottom: 20px;
}

._fw_300 {
  font-weight: 300;
}

.savi_logo {
  max-width: 138px;
  margin-top: 5px;
  height: 56px;
}

@media (max-width: 601px) {
  .savi_logo {
    height: 46px;
  }
}

.captcha_gif {
  width: 25%;
}

.form_outline {
  background-color: rgba(20,0,0,.04);
  padding: 20px;
}

/* SAVI COLORS */

.grey_md_bg {
  background-color: RGBA(52, 52, 52, 1.00) !important
}

.teal_md_cl {
  color: RGBA(67, 87, 93, 1.00)
}
